<!--zoejane 200206 remove columns in sidebar
<h2>Columns</h2>
<ul>
    <li><a href="/1overview/">概览</a></li>
    <li><a href="/2record/">进展</a></li>
    <li><a href="/3work/">成果</a></li>
    <li><a href="/4experience/">经验</a></li>
</ul>
-->

<img src="https://zoejane.oss-cn-beijing.aliyuncs.com/img/cat_h120.svg" title="lazy-cat">

{# zoejane 200226 remove navigation in sidebar 
{% if page.is_homepage and theme.homepage_nav %}
  {% include "inc/homepage_nav.html" %}
{% endif %}
#}

<h2>Powered by</h2>
<ul class="powerby__list">

    <li>
        <a href="https://101.camp/">蟒营™</a>
    <ul class="powerby__list">
        <li>
            <a href="https://py.101.camp/">Python 入门班</a>
        </li>
        <li>
            <a href="https://io.101.camp/">图谱</a>
        </li>
        <li>
            <a href="https://slides.101.camp/">幻灯</a>
        </li>
        <li>
            <a href="https://wiki.101.camp/">维基</a>
        </li>
        <li>
            <a href="https://github.com/101camp/comments/issues">评注</a>
        </li>
    </ul>
    </li>

    <li>
        <a href="https://du.101.camp/">自怼圈</a>
    </li>

    <li>
        <a href="http://weekly.pychina.org/">蟒周刊</a>
    </li>

    <li>
        <a href="https://blog.zhgdg.org/">珠海GDG</a>
    </li>

    <li>"大妈"们
        <ul class="powerby__list">
        <li>
            <a href="https://yixuan.li/">Yixuan</a>
        </li>

        <li>
            <a href="https://www.douban.com/people/Azeril/">Azeril</a>
        </li>
        <li>
            <a href="https://zoomquiet.io/">Zoom.Quiet</a>
        </li>
        <li>
            <a href="https://blog.zoejane.net/">Zoe Jane</a>
        </li>
        <li>
            ...
        </li>
        </ul>

    <li>
        <a href="http://mainium.icu">昧因科技®</a>
    </li>

    <li>
        <a href="https://www.vultr.com/?ref=8333895">vultr</a>
    </li>    
</ul>

